#home,
#galeria,
#projeto,
#sobre,
#calculadora,
#contato {
  overflow: hidden;
}

.bloco {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#galeria {
  background-color: #69f;
}

.carrossel {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.imgs1 {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.imgs1 > div {
  flex: 1 1 200px; 
  margin: 10px;
}

.imgGallery {
  opacity: .7;
}

.img1 {
  width: 200px;
  height: 200px;
  /* background-color: #000; */
  background-image: url("../assets/angar_01.jpg");
  background-repeat: no-repeat;
  background-position: 60% 60%;
}

.bgImg1Full {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 947px;
  background: #00000090;
  z-index: -1;
}

.img1Full {
  position: relative;
  width: 600px;
  height: 320px;
  background-image: url("../assets/angar_01.jpg");
  background-repeat: no-repeat;
}

.img2 {
  width: 200px;
  height: 200px;
  background-color: blue;
}
.img3 {
  width: 200px;
  height: 200px;
  background-color: green;
}

.img4 {
  width: 200px;
  height: 200px;
  background-color: red;
}
.img5 {
  width: 200px;
  height: 200px;
  background-color: orange;
  
}

.img6 {
  width: 200px;
  height: 200px;
  background-color: purple;
}

.img7 {
  width: 200px;
  height: 200px;
  background-color: silver;
}

.img8 {
  width: 200px;
  height: 200px;
  background-color: lightskyblue;
}

.img1:hover ,.img2:hover ,.img3:hover ,.img4:hover ,.img5:hover ,.img6:hover ,.img7:hover ,.img8:hover {
  box-shadow: 4px 4px 10px #000a;
  transition: .1s ease-out;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  
  .carrossel {
    position: relative;
    display: flex;
    width: 90%;
    overflow: hidden;
    
  }
  
  .imgs1 {
    position: absolute;
    width: 100%;
    height: 0;
    top: 25%;
  }
  
  .img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8 {
    position: absolute;            
    width: 100%;
    height: 100%;
    padding-bottom: 57.9%;
    margin: 0 !important;
    
  }
  
  .img1:hover ,.img2:hover ,.img3:hover ,.img4:hover ,.img5:hover ,.img6:hover ,.img7:hover ,.img8:hover {
    box-shadow: 0px 0px 0px #000;
    transition: 0s ease-out;
  }
} 
