        @font-face {
          src: url("/fonts/quantify.woff");
          font-family: "quantify";
        }
        
        *{
          margin: 0;
          padding: 0;
        }
        
        body {
          font-family: "quantify";
        }
        
        .links {
          width: 100%;
          height: 50px;
          position: fixed;
          display: flex;
        }

        nav {
          z-index: 10;
        }

        .links label{
          padding: 10px 0px;
          flex-grow: 1;
          cursor: pointer;
          transition: all .4s;
          text-align: center;
          font-size: 18px;
          color: #eb2900;
          text-shadow: 1px 1px #000000;
          
        }
        
        .links label:hover {
          border-radius: 10px 0px 10px 0px/20px 0px 20px 0px;
          background-color: rgba(255, 0, 0, .1)
        }
        
        .inputRadio{
          display: none;
        }
        
        .scroll {
          display: flex;
          width: 100vw;
          height: 100vh;
          overflow: hidden;
          /* overflow-y: scroll; */
        }
        
        .bloco {
          width: 100vw;
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        #home {
          background-color: #7fbd42;
        }
        #galeria {
          background-color: #69f;
        }
        #projeto {
          background-color: #faa;
        }
        #sobre {
          background-color: #aaa;
        }

        #calculadora {
          background-color: aqua;
        }

        #contato {
          background-color: #414950;
        }
        
        .sections{
          transition: all .4s ease-out;
        }
        
        #rd_galeria:checked ~ .sections {
          margin-top: -100vh;
        }
        
        #rd_projeto:checked ~ .sections {
          margin-top: -200vh;
        }
        
        #rd_sobre:checked ~ .sections {
          margin-top: -300vh;
        }
        #rd_calculadora:checked ~ .sections {
          margin-top: -400vh;
        }
        
        #rd_contato:checked ~ .sections {
          margin-top: -500vh;
        }