        /* html {
          scroll-behavior: smooth;
        } */

        nav a {
          text-decoration: none;
          color: inherit;

        }
        
        @font-face {
          src: url("/fonts/quantify.woff");
          font-family: "quantify";
        }
        
        *{
          margin: 0;
          padding: 0;
        }
        
        body {
          font-family: "quantify";
          height: 100%;
        }
        
        .links, #nav-icon3 {
          width: 100%;
          height: 50px;
          position: fixed;
          display: flex;
          flex-wrap: wrap;
        }

        nav {
          z-index: 10;
        }

        .links label, nav a{
          padding: 10px 0px;
          flex-grow: 1;
          cursor: pointer;
          transition: all .4s;
          text-align: center;
          font-size: 18px;
          color: #eb2900;
          text-shadow: 1px 1px #000000;
          
        }
        
        nav a:hover {
          border-radius: 10px 0px 10px 0px/20px 0px 20px 0px;
          background-color: rgba(255, 0, 0, .1)
        }
        
        .inputRadio{
          display: none;
        }
        
        .bodyCointeiner {
          display: flex;
          width: 100vw;
          /* height: 100vw; */
          /* overflow: hidden; */
          /* overflow-y: scroll; */
        }
        
        .bloco {
          width: 100vw;
          height: 947px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        #home {
          background-color: #7fbd42;
        }
        #galeria {
          background-color: #69f;
        }
        #projeto {
          background-color: #faa;
        }
        #sobre {
          background-color: #aaa;
        }

        #calculadora {
          background-color: aqua;
        }

        #contato {
          background-color: #414950;
        }
        
        .sections{
          transition: all .4s ease-out;
        }