.Drop_Gentle {
  animation: Drop_Gentle 1.3s forwards;
}
@keyframes Drop_Gentle {
  0% { opacity: 1; transform-origin: 0% 100%;  transform: translate(50%, -100vh) rotateZ(-70deg); animation-timing-function: ease-in;}
  20% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-30deg);animation-timing-function: linear;}
  25% {opacity: 1; transform-origin: 50% 100%; transform: translate(0px, -20px) rotateZ(-5deg);animation-timing-function: linear;}
  30% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(20deg);}
  50% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-5deg);}
  70% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(2deg);}
  80% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-1deg);}
  100% {opacity: 1; transform-origin: 50% 100%; transform: translate(0px, 0px) rotateZ(0deg);}
}


.zombie {
  animation: zombie_TWD 1s forwards;
}
@keyframes zombie_TWD {
  0% { opacity: 1; transform-origin: 0% 100%;  transform: translate(50%, 0vh) rotateZ(-70deg); animation-timing-function: ease-in;}
  20% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-30deg);animation-timing-function: linear;}
  25% {opacity: 1; transform-origin: 50% 100%; transform: translate(0px, -20px) rotateZ(-5deg);animation-timing-function: linear;}
  30% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(20deg);}
  50% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-5deg);}
  70% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(2deg);}
  80% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-1deg);}
  100% {opacity: 1; transform-origin: 50% 100%; transform: translate(0px, 0px) rotateZ(0deg);}
}



.Slacken_left_Ricochet {
  animation: Slacken_left_Ricochet .7s forwards;
}
@keyframes Slacken_left_Ricochet {
  0% { opacity: 1; transform-origin: 100% 100%;  transform: translate(-40vw, 0px) rotateZ(0deg); animation-timing-function: cubic-bezier(.03,.85,.25,1);}
  18% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(25deg); animation-timing-function: cubic-bezier(.65,0,.37,.98);}
  35% {opacity: 1; transform-origin: 80% 100%; transform: translate(0px, 0px) rotateZ(-15deg); animation-timing-function: cubic-bezier(.65,0,.37,.98);}
  52% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(10deg); animation-timing-function: cubic-bezier(.65,0,.37,.98);}
  64% {opacity: 1; transform-origin: 80% 100%; transform: translate(0px, 0px) rotateZ(-3deg); animation-timing-function: cubic-bezier(.65,0,.37,.98);}
  76% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(0deg); animation-timing-function: cubic-bezier(.65,0,.37,.98);}
  88% {opacity: 1; transform-origin: 80% 100%; transform: translate(0px, 0px) rotateZ(3deg); animation-timing-function: cubic-bezier(.65,0,.37,.98);}
  100% {opacity: 1; transform-origin: 50% 100%; transform: translate(0px, 0px) rotateZ(0deg);}
}



.Drop_Massive {
  animation: Drop_Massive 1.8s forwards;
}
@keyframes Drop_Massive {
  0% { opacity: 1; transform-origin: 50% 50%;  transform: translate(0, -100vh) rotateZ(-360deg); animation-timing-function: ease-in;}
  15% {opacity: 1; transform-origin: 50% 50%; transform: translate(0px, 0px) rotateZ(-390deg);animation-timing-function: linear;}
  28% {opacity: 1; transform-origin: 50% 50%; transform: translate(0px, -100%) rotateZ(-180deg);animation-timing-function: linear;}
  40% {opacity: 1; transform-origin: 50% 50%; transform: translate(0px, 0px) rotateZ(30deg);}
  50% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-10deg);}
  60% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(3deg);}
  70% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-2deg);}
  80% {opacity: 1; transform-origin: 100% 100%; transform: translate(0px, 0px) rotateZ(1.5deg);}
  90% {opacity: 1; transform-origin: 0% 100%; transform: translate(0px, 0px) rotateZ(-1deg);}
  100% {opacity: 1; transform-origin: 50% 100%; transform: translate(0px, 0px) rotateZ(0deg);}
}


.Tag_3d {
  animation: Tag_3d 3.2s forwards linear;
}
@keyframes Tag_3d  {
  0% { opacity: 0; transform-origin: 50% -50%; transform: perspective(400px) translate(-100px,-100vh) rotateX(120deg) rotateY(-300deg) rotateZ(190deg); animation-timing-function: cubic-bezier(.55,.18,.86,.57);}
  20% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); animation-timing-function: cubic-bezier(.14,.62,.49,.92);}
  30% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(-60deg) rotateY(80deg) rotateZ(-60deg); animation-timing-function: cubic-bezier(.55,.18,.86,.57);}
  40% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); animation-timing-function: cubic-bezier(.14,.62,.49,.92);}
  50% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(50deg) rotateY(-60deg) rotateZ(65deg); animation-timing-function: cubic-bezier(.55,.18,.86,.57);}
  60% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); animation-timing-function: cubic-bezier(.14,.62,.49,.92);}
  70% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(-15deg) rotateY(40deg) rotateZ(-30deg); animation-timing-function: cubic-bezier(.55,.18,.86,.57);}
  80% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); animation-timing-function: cubic-bezier(.14,.62,.49,.92);}
  90% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(7deg) rotateY(-30deg) rotateZ(10deg); animation-timing-function: ease-in-out;}
  100% { opacity: 1; transform-origin: 50% -50%; transform: perspective(400px) translate(0px,0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
}


.Smooth_3d{
 animation: Smooth_3d 1.2s forwards ;
}
@keyframes Smooth_3d {
 0% { opacity: 1;  transform-origin: 50% 20%; transform: perspective(400px) translate(-30px,0px) rotateX(-89deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 20%; transform: perspective(400px) translate(0px,0px) rotateX(0deg);}
}


.Smooth_3d_doido{
 animation: Smooth_3d_doido 1.2s forwards ;
}
@keyframes Smooth_3d_doido {
 0% { opacity: 1;  transform-origin: 50% 20%; transform: perspective(400px) translate(-30px,0px) rotateX(-60deg) rotateZ(-30deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 20%; transform: perspective(400px) translate(0px,0px) rotateX(0deg) rotateZ(0deg);}
}



.scale_3d_doido{
 animation: scale_3d_doido 1.2s forwards ;
}
@keyframes scale_3d_doido {
 0% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) scale(0,0); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 40% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) scale(1.3,1.3); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 50%; transform: perspective(400px) scale(1,1); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
}

.Rotate_3d_doido{
 animation: Rotate_3d_doido 1.2s forwards ;
}
@keyframes Rotate_3d_doido {
 0% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) rotateX(-50deg) rotateZ(-30deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 80% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) rotateX(30deg) rotateZ(30deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 50%; transform: perspective(400px) rotateX(0deg) rotateZ(0deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
}

.Rotate_3d_doido1{
 animation: Rotate_3d_doido1 1.5s forwards ;
}
@keyframes Rotate_3d_doido1 {
 0% { opacity: 1;  transform-origin: 50% 50%; transform: rotateY(-360deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 50%; transform: rotateY(0deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
}



.Rotate_3d_doido2{
 animation: Rotate_3d_doido2 1.5s forwards ;
}
@keyframes Rotate_3d_doido2 {
 0% { opacity: 1;  transform-origin: 50% 50%; transform: rotateZ(-360deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 50%; transform: rotateZ(0deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
}



.Rotate_3d_doido3{
 animation: Rotate_3d_doido3 1.5s forwards ;
}
@keyframes Rotate_3d_doido3 {
 0% { opacity: 1;  transform-origin: 50% 50%; transform: scale(0.1) rotateY(-360deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
 100% {opacity: 1; transform-origin: 50% 50%; transform: scale(1) rotateY(0deg); animation-timing-function: cubic-bezier(.27,2,.52,.92);}
}

.efeitoFiltrosHard{
 animation: efeitoFiltrosHard 1.8s forwards ;
}
@keyframes efeitoFiltrosHard {
 0% { opacity: 1; filter: saturate(32%) invert(87%) drop-shadow(5px -5px 5px #0000ff);}
 100% { opacity: 1; filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #0000ff);}
}


.efeitoFiltrosHard1{
 animation: efeitoFiltrosHard1 1.5s forwards ;
}
@keyframes efeitoFiltrosHard1 {
 0% { opacity: 1; filter: saturate(0%) invert(100%) drop-shadow(5px -5px 30px #ffffff);}
 100% { opacity: 1; filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
}


.scale_3d_doido1{
 animation: scale_3d_doido1 1.2s forwards ;
}
@keyframes scale_3d_doido1 {
 0% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) scale(0,0); animation-timing-function: cubic-bezier(.54,.12,.5,.96); filter: saturate(0%) invert(100%) drop-shadow(5px -5px 30px #ffffff);}
 33% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) scale(1.5,1.5); animation-timing-function: cubic-bezier(.54,.12,.5,.96); filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
 66% { opacity: 1;  transform-origin: 50% 50%; transform: perspective(400px) scale(0.5,0.5); animation-timing-function: cubic-bezier(.54,.12,.5,.96); filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
 100% {opacity: 1; transform-origin: 50% 50%; transform: perspective(400px) scale(1,1); animation-timing-function: cubic-bezier(.54,.12,.5,.96);filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
}



.goGo{
 animation: goGo 1.5s forwards ;
}
@keyframes goGo {
 0% { opacity: 1; transform-origin: 50% 50%; transform: translateX(-50px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(5px -5px 30px #ffffff);}
 100% { opacity: 1; transform-origin: 50% 50%; transform: translateX(0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
}


.goGo_2{
transform: translate(0px,0px) !important;
/*transition: all 1s cubic-bezier(.21,.82,.25,.92) !important;*/
transition: all 1s cubic-bezier(.21,.82,.25,.92) !important;
animation: goGo_2 1.5s forwards ;
}
@keyframes goGo_2 {
 0% { opacity: 1; transform-origin: 50% 50%; animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(5px -5px 30px #ffffff);}
 100% { opacity: 1; transform-origin: 50% 50%; animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
}


.goGo_3{
transform: translate(0px,0px) !important;
/*transition: all 1s cubic-bezier(.21,.82,.25,.92) !important;*/
transition: all 1s cubic-bezier(.21,.82,.25,.92) !important;
animation: goGo_3 1s forwards ;
}
@keyframes goGo_3 {
 0% { opacity: 1; transform-origin: 50% 50%; transform: perspective(400px) translate(5px,0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(1px -1px 10px #ffffff);}
 20% { opacity: 1; transform-origin: 20% 20%; transform: perspective(100px) translate(10px,0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(5px -5px 30px #000000);}
 40% { opacity: 1; transform-origin: 80% 80%; transform: perspective(500px) translate(15px,0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(1px -1px 10px #ffffff);}
 60% { opacity: 1; transform-origin: 50% 50%; transform: perspective(300px) translate(-15px,0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(5px -5px 30px #000000);}
 80% { opacity: 1; transform-origin: 10% 10%; transform: perspective(200px) translate(-10px,0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(0%) invert(100%) drop-shadow(3px -3px 10px #ffffff);}
 100% { opacity: 1; transform-origin: 50% 50%; transform: perspective(400px) translate(0px,0px); animation-timing-function: cubic-bezier(.27,2,.52,.92); filter: saturate(100%) invert(0%) drop-shadow(0px 0px 0px #ffffff);}
}


.Drop_Strong{
  animation: Drop_Strong 1s forwards ;
}
@keyframes Drop_Strong {
  0% { opacity: 0; transform: translate(20px, -40px) rotate(40deg) scale(3); animation-timing-function: cubic-bezier(.62,.02,.89,.67); }
  20% {opacity: 1; transform: translate(10px, -15px) rotate(15deg) scale(1); animation-timing-function: cubic-bezier(.19,.7,.65,.98); }
  40% {opacity: 1; transform: translate(5px, -10px) rotate(10deg) scale(1.2); animation-timing-function: cubic-bezier(.62,.02,.89,.67); }
  60% {opacity: 1; transform: translate(3px, -8px) rotate(8deg) scale(1); animation-timing-function: cubic-bezier(.19,.7,.65,.98); }
  80% {opacity: 1; transform: translate(1px, -3px) rotate(3deg) scale(1.05); animation-timing-function: cubic-bezier(.62,.02,.69,.99); }
  100% {opacity: 1; transform: translate(0px, 0px) rotate(0deg) scale(1); }
}



.explosion{
opacity: 1;
transform: translate(0px,0px) !important;
/*transition: all 1s cubic-bezier(.21,.82,.25,.92) !important;*/
transition: all 0.3s cubic-bezier(.21,.82,.25,.92) !important;
}



.up_anima{
-webkit-animation: up_animatiom .5s cubic-bezier(.54,.12,.5,.96);
        animation: up_animatiom .5s cubic-bezier(.54,.12,.5,.96);
-webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
-webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

@-webkit-keyframes up_animatiom{
0% { opacity: 0;top: -10px; }
50% { opacity: 1;top: 10px; }
75% { opacity: 1;top: -5px; }
100% { opacity: 1;top: 0px; }

}


.txt1_in {
opacity: 1;
animation: entra-texto-in 2s forwards;
}
@keyframes entra-texto-in {
0% {opacity: 0; transform: perspective(300px) scale(1, 1) rotateX(-50deg); animation-timing-function: ease-out;}
20% {opacity: 1; transform: perspective(300px) scale(1, 1) rotateX(50deg); animation-timing-function: ease;}
40% {opacity: 1; transform: perspective(300px) scale(1, 1) rotateX(-20deg); animation-timing-function: ease;}
60% {opacity: 1; transform: perspective(300px) scale(1, 1) rotateX(10deg); animation-timing-function: ease;}
80% {opacity: 1; transform: perspective(300px) scale(1, 1) rotateX(-3deg); animation-timing-function: ease;}
100% {opacity: 1; transform: perspective(300px) scale(1, 1) rotateX(0deg);}
}

.txt1_in_b {
opacity: 1;
transform: translate(0px, 0px) scale(1, 1) rotate(0deg);
transition: all .6s; 
}

/* S1_OUT */
.txt1_out {
opacity: 1;
animation: entra-texto-out .8s forwards ease-in;
}
@keyframes entra-texto-out {
0% {transform: translate(0px, 0px); }
100% {transform: translate(-300px, 0px);}
}

.txt1_out-2 {
display: none;
}


/* Numbers IN */
.img1_in {
animation: numero_anima 1s forwards;
}
@keyframes numero_anima {
0% {transform: translate(300px, 0px); opacity: 1; animation-timing-function: cubic-bezier(.66,.82,.76,.99);}
33% {transform: translate(25px, 0px); opacity: 1; animation-timing-function: cubic-bezier(.9,.01,.62,1);}
100% {transform: translate(0px, 0px); opacity: .2;}
}

/* Numbers OUT */
.img1_out {
animation: numero_anima_ .8s forwards ease-in;
}
@keyframes numero_anima_ {
0% {transform: translate(0px, 0px); opacity: .2;}
100% {transform: translate(-200px, 0px); opacity: .2;}
}


/* Sprite IN */
.s2_sprite_in {
animation: exemplo_key 3.5s steps(95) 1 forwards;
animation-timing-function: cubic-bezier();
}
@keyframes exemplo_key {
0% { background-position: 0% 0%; }
100% { background-position: 100% 100%; }
}

/* Sprite OUT */
.sprite_out {
animation: sprite_out_key .2s forwards ease-in;
}
@keyframes sprite_out_key {
0% {opacity: 1;}
100% {opacity: 0;}
}


/* logo OUT */
.logo1_out {
opacity: 0;
transition: all .5s  ease;
}


/* Step-03*/
.ctabg_in {
opacity: 1;
animation: ctabg-in 1s forwards;
}
@keyframes ctabg-in {
0% {transform: translate(0px, -385px) scale(9, 9); animation-timing-function: ease-in;}
50% {transform:  translate(0px, -85px) scale(9, 9); animation-timing-function: cubic-bezier(.53,0,.29,.99);}
100% {transform:  translate(0px, 0px) scale(1, 1);}
}

.ctatxt_in {
opacity: 1;
transform: translate(0px, 0px) scale(1, 1) rotate(0deg);
transition: all .5s ease-out;
}
.s3_logo_in {
opacity: 1;
transform: translate(0px, 0px) scale(1, 1) rotate(0deg);
transition: all .5s ease-out;
}

/* OVER */
.cta_over {
opacity: 1;
animation: over_key .75s forwards ease-in-out;
}
@keyframes over_key {
0% {transform:  translate(0px, 0px) scale(1, 1);}
25% {transform:  translate(0px, 0px) scale(1.25, 1.1);}
50% {transform:  translate(0px, 0px) scale(1.1, 1.05);}
75% {transform:  translate(0px, 0px) scale(1.12, 1.06);}
100% {transform:  translate(0px, 0px) scale(1.1, 1.05);}
}

.ctatxt_move {
opacity: 1;
animation: ctatxt_move_key .25s forwards ease-in-out;
}
@keyframes ctatxt_move_key {
0% {transform:  translate(0px, 0px) scale(1, 1) ; animation-timing-function: ease-in;}
100% {transform:  translate(0px, 100px) scale(1, 1);}
}

.ctatxt_move_B {

animation: ctatxt_move_key_B .25s forwards ease-in-out;
}
@keyframes ctatxt_move_key_B {
0% {opacity: 1;transform:  translate(0px, -100px) scale(1, 1); animation-timing-function: ease-out;}
100% {opacity: 1;transform:  translate(0px, 0px) scale(1, 1);}
}

.cta_out {
opacity: 1;
animation: out_key .75s forwards ease-in-out;
}
@keyframes out_key {
0% {transform:  translate(0px, 0px) scale(1.1, 1.1);}
35% {transform:  translate(0px, 0px) scale(.9, .95);}
100% {transform:  translate(0px, 0px) scale(1, 1);}
}

/* END */







